<div class="card mt-5">
<div class="card-body">
  <form #productForm="ngForm" (ngSubmit)="OnSubmit(productForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
     
    <div class="form-group">
          <input
          type="text"
          class="form-control"
          name="name"
          #name="ngModel"
          [(ngModel)]="productService.selectedProduct.name"
          placeholder="Add Lunch Name"
          >
      </div>
      <div class="form-group">
        <input
        type="date"
        class="form-control"
        name="day"
        #day="ngModel"
        [(ngModel)]="productService.selectedProduct.day"
        placeholder="Add Week Day"
        >
      </div>

      <div class="form-group">
          <input
          type="number"
          class="form-control"
          name="price"
          #price="ngModel" 
          [(ngModel)]="productService.selectedProduct.price" 
         
          placeholder="Add Week Price"
          >
          
        </div>
     
        

              <div class="form-group">
                  <button class="btn btn-primary" type= "submit">
                    <i class="fas fa-plus-circle"></i> Add A Product
                  </button>
                  <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="fas fa-sync-alt"></i> Reset
                  </button>
                </div> 
                
                  
  </form>

</div>

</div>
